@use 'base';
@use 'header';
@use 'footer';

#schools,
#students,
#orphans,
#contribute {
    text-align: center;
    line-height: 1.5;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#schools {
    background-color: white;
}

#orphans {
    background-color: base.$charcoal-blue;
    color: white;
}

#contribute {
    #cta {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
