@use 'base';

#schools,
#students,
#orphans,
#contribute {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#schools {
    background-color: white;
}

#orphans {
    background-color: base.$charcoal-blue;
    color: white;
}